.primary {
  color: black;
  font-size: 40px;
  background: #ffffff;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid rgb(255, 255, 255);
  height: 286px;

}

.secondary {
  color: gray;
  font-size: 40px;
  background: #ffffff;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid rgb(255, 255, 255);
  height: 286px;
}