.titleSide{
    font-size: 36px;
    font-weight: 700;
}

.wraper{
    display: flex;
    margin-top: 50px;
    border-top: 5px;
    border-style:solid;
    border-bottom: 3px;
    border-color: black;
}

.left {
    margin-top: 8px;
}

@media screen and (max-width: 960px) {
    .wraper{
        display: flex;
        align-items: center;

    }

}
   


   



