

.mainRegister{
    height: calc(75vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.form h1{
    font-size: 25px;
}
.inputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.inputs > label {
    margin-left: auto;
    font-weight: bold;
}
.data > input{
    width: 200px;
    height: 20px;
    border-radius: 7px;
    font-size: 20px;
    padding: 10px;
    
}
.inputs{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 20px;
}
.submit{
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 40px;
    margin:20px;
    margin-left: auto;
}
.error{
    font-size: 12px;
    font-family: serif;
}
.text-success{
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    font-family: serif;
}
@media screen and (max-width: 960px) {
    .mainRegister{
        width: 100%;
        margin: 10px;
        flex-direction: column;
     }
   }