*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.mainLeft{
    text-align: left;
    text-indent: 40px;
    display: flex;
    /* margin-left: auto; */
    /* flex:3; */
    font-size: 20px;
    line-height: 30px;
    flex: 2;
    
}
button{
    width: 4fr;
    height: 25px;
}
.topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: black;
    cursor: pointer;
  }
.mainCenter{
    font-size: 20px;
    /* margin-right: auto; */
    color:black;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    flex: 2;
}
.mainRight{
    margin:50px;
    text-align: right;
    /* margin-right: auto; */
    font-size: 20px;
    line-height: 30px;
    flex: 1;
}
.main-footer {
    color: black;
    position: fixed;
    padding:70 px 0;
    bottom: 10px;
    width: 95%;
    padding: 0 15px;

  }
  .row{
      display:flex;
      align-items: center;
  }
  @media only screen and (max-width: 950px) {
      .mainLeft{
          font-size: 15px;
          flex-wrap: nowrap;
          margin-left: 50px;
      }
      .mainCenter{
        font-size: 15px;
        flex-wrap: nowrap;
    }
    .mainRight{
        font-size: 15px;
        flex-wrap: nowrap;
    }
    .main-footer{
        font-size: 15px;
        flex-wrap: nowrap;
    }
    .row{
        flex-wrap: nowrap;
        align-items: center;
    }
  }
