:root {
  --background-color: white;
  --font-color: black;
}

.carousel-root {
  width: 65% ;
  margin: auto ;
  margin-top: 5% ;
}

.carousel .slide {
  background: var(--background-color) ;
  color: var(--font-color);
  height: 100%;
}

.carousel .slide img {
  width: 140px ;
  border-radius: 50%;
}

.myCarousel {
  background: var(--background-color);
  margin-top: 5%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid rgb(0, 0, 0);
  height: 285px;
}

.carousel .control-dots {
  padding-left: 5px ;
  bottom: 5% ;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 17px;
}

.myCarousel h4 {
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 15px;
}

.myCarousel p {
  font-weight: 100 ;
  line-height: 30px ;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 70px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none ;
  background: #454545 ;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 ;
  height: 50px ;
  position: absolute;
  top: 35% ;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 940px) {
  .carousel-root {
    outline: 0;
    width: 95% ;
    margin: auto ;
  }

  .carousel.carousel-slider .control-arrow {
    display: none ;
  }
  .myCarousel {
    background: var(--background-color);
    margin-top: 9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid #ddd;
    height: 270px;
  }

    /* .carousel .slide img {
    width: 24% ;
    border-radius: 50%;
  } */
}