.formGroup{
    background-color: var(--background-color) ;
}
.formGroup{
    width: 100%;
}

.contactForm {
    font-size: 1em;
}
.contact_info-header{
      margin-bottom: 3rem;
}

input,
textarea {
    width: 70%;
    font-size: 1rem;
    padding: 10px;
    background-color:lightgray;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
}

textarea{
    min-height: 250px;
    resize: vertical;
}
textarea :hover{
    color:coral;
}

.buttonContact{
width: 40%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  background: var(--button-color);
  outline: none;
  border: none;
  color: var(--text-color-black);
  font-size: 1rem;
}

.buttonContact:hover{ 
  background-color: coral;
}

@media screen and (max-width: 960px) {
    input,
textarea {
    width: 50%;
    font-size: 1rem;
    padding: 15px;
}
button{
    padding: 7px 15px;
    font-size: 1rem;

}

}
